* {
  box-sizing: border-box;
  margin: 0px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
}
.title {
  font-size: 26px;
  width: 100vw;
  padding: 20px;
  color: #ffffff;
  background-color: rgb(0, 115, 255);
  text-align: center;
}
li {
  padding: 20px 10px;
}
li a {
  font-size: 20px;
  text-decoration: none;
}
.list {
  height: calc(100vh - 30.5px);
  background-color: antiquewhite;
  /* padding: 20px 10px; */
}
.recipe-body {
  background-color: antiquewhite;
  padding-bottom: 40px;
}
.image-div {
  text-align: center;
  padding: 40px 20px 10px 20px;
}

.image-div p,
a {
  font-size: 12px;
}
.container {
  margin: 40px 20px;
  padding: 10px;
}
.container h4 {
  margin-bottom: 15px;
}
.btn {
  display: block;
  margin: auto;
  background-color: #79729e;
  border: none;
  width: 300px;
  border-radius: 10px;
}
.btn a {
  font-size: 20px;
  color: #ffffff;
}
